@model ReservaEspectaculo.ViewModels.ReservaCliente

<h4>Reservar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reservar">
            <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
            <input type="hidden" asp-for="PeliculaId" />
            <div class="form-group">
                <label asp-for="PeliculaTitulo" class="control-label"></label>
                <input asp-for="PeliculaTitulo" class="form-control" readonly="readonly" />
                <span asp-validation-for="PeliculaTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <select asp-for="Fecha" class="form-control" asp-items="ViewBag.Fechas"></select>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadButacas" class="control-label"></label>
                <input asp-for="CantidadButacas" class="form-control" />
                <span asp-validation-for="CantidadButacas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
